$theme-colors: (
"primary": #09445D,
"secondary": #89B6A5,
"success": #456535,
"info": #89B6A5,
"warning": #EF8339,
"danger": #E54A38,
"light": #f5f5f5,
"dark": #343a40,
);

$colors:(
blue: #09445D,
indigo: #661ef6,
purple: #8b51f6,
pink: #f873b1,
red: #E54A38,
orange: #EF8339,
yellow: #F9BC39,
green: #456535,
teal: #6A814F,
cyan: #89B6A5,
white: #f5f5f5,
gray: #6c757d,
gray-dark: #343a40,
khaki: #CBB694,
brown: #9C6A40
);

@import "../node_modules/bootstrap/scss/bootstrap";

.cardHome{
  background-color: #CBB694;
  margin-top: 0.5REM;
  border-radius: 2rem;
  border: 0.5rem solid #09445D;
}

.navHome{
    background-color: #456535 !important;
    border-radius: 1.5rem;
    min-width: 95vh;
    border: .25rem solid black;
}

.footer{
  background-color: #456535 !important;
  margin-top: 0.5rem;
  border-radius: 2rem;
  border: 0.25rem solid black
}

.btn btn-block btn-info{
  color: #661ef6;
}

.headerPara{
font-size: '1.75rem';
font-weight: '700';
background-color: #CBB694;
}

header{
  background-color: #CBB694;
  border-radius: 2rem;
  min-width: 95vw;
  margin-top: 1vh;
  border: 0.5rem solid black;
}