$theme-colors: (
"primary": #09445D,
"secondary": #6A814F,
"success": #456535,
"info": #89B6A5,
"warning": #EF8339,
"danger": #E54A38,
"light": #f5f5f5,
"dark": #343a40,
);

$colors:(
blue: #09445D,
indigo: #661ef6,
purple: #8b51f6,
pink: #f873b1,
red: #E54A38,
orange: #EF8339,
yellow: #F9BC39,
green: #456535,
teal: #6A814F,
cyan: #89B6A5,
white: #f5f5f5,
gray: #6c757d,
gray-dark: #343a40,
khaki: #CBB694,
brown: #9C6A40
);

@import "../node_modules/bootstrap/scss/bootstrap";

.mainBody{
  background-color: #6A814F;
  min-height: 100vh;
}

.cardHome{
  background-color: #CBB694;
  margin-top: 0.5REM;
  border-radius: 2rem;
  border: 0.5rem solid black;
}

.cardTitle{
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.cardText{
  font-size: 1.2rem;
  color: black;
}

.navHome{
    background-color: #456535 !important;
    border-radius: 1.5rem;
    border: .25rem solid black;
    font-weight: bold;
    font-size: 1.1rem;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.topLink{
  text-decoration: none;
}

.topThing{
  background-color: #CBB694;
  margin: 0%;
}

.footer{
  background-color: #456535 !important;
  margin-top: 0.5rem;
  border-radius: 1.5rem;
  border: 0.25rem solid black;
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.btn btn-block btn-info{
  color: #661ef6;
}

.headerPara{
font-size: 1.75rem;
font-weight: 700;
background-color: #CBB694;
}

header{
  background-color: #CBB694;
  border-radius: 2rem;
  min-width: 95vw;
  // margin-top: 1vh;
  position: relative;
  top: 0.2rem;

  border: 0.5rem solid black;
}

.homeButton{
  border: 0.2rem solid black;
  font-weight: bold;
  font-size: 1.1rem;
}

.authorCard{
  background-color: #CBB694 !important;
  color: black;
  border: 0.3rem solid black;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1.5rem;
}

.authorEmail{
  font-size: 1.1rem;
}

.authorGithub{
  font-size: 1.1rem;
}

.authorTitle{
  font-size: 1.1rem;
  font-weight: bold;
}